*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' sans-serif;
}
body {
    height: 100vh;
    background-color: rgb(61, 155, 236);
    background-image: url('https://asset.japan.travel/image/upload/v1538550267/tottori/Tottori_1001.jpg');
    background-size: cover;
    background-position: center;
}
.hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #e70808;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(30, 32, 32);
    font-size: 1rem;
}
a:hover{
    color: rgb(13, 194, 104);
}
/* HEADER */
header {
    position: relative;
    padding: 0 3rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
 font-size: 2.5rem;
 font-weight: bold;
 color: blue;
}

.navbar .links {
    display: flex;
    gap: 3rem;
}

.navbar .toggle_btn {
    color: rgb(151, 99, 30);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(145, 219, 61);
    color: aquamarine;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover {
    scale: 1.2;
    color: white;
}
.action_btn:active{
    scale: 0.95;
    color: rgb(17, 201, 78);
}

/*DROPDOWN_MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgb(7, 35, 87,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 240px;
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(236, 11, 60);
}
#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.media-icons{
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.media-icons a{
    color: #fd04b2;
    font-size: 1.5rem;
    transition: 0.3s ease;
}
.media-icons a:not(:last-child){
    margin-bottom: 30px;
}
.media-icons a:hover{
    transform: scale(1.5);
    color: #00ff22;
}
.media-icons1{
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.media-icons1 a{
    color: #f309ad;
    font-size: 1.5rem;
    transition: 0.3s ease;
}
.media-icons1 a:not(:last-child){
    margin-bottom: 30px;
}
.media-icons1 a:hover{
    transform: scale(1.5);
    color: #fa7900;
}


/* RESPONSIVE DESIZE */
@media (max-width: 990px) {
    .navbar  .links,
    .navbar   .action_btn {
        display: none;
    }

.navbar .toggle_btn {
    display: block;
}
.dropdown_menu {
    display: block;
}
}
@media (max-width: 550px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}